/* importing variables */
@import './scss/variables';

/* importing page elements */

@import './scss/main_container';
@import './scss/navbar';
@import './scss/footer';
@import './scss/shop';
@import './scss/buy_panel';
@import './scss/shop_icons_bg';
@import './scss/blacksmith_icons_bg';
@import './scss/inn_icons_bg';
@import './scss/opponents';
@import './scss/hero';
@import './scss/inventory_panel';


@font-face {
  font-family: 'CaslonAntique';
  src: url('./fonts/CaslonAntique.ttf');
}

* {
  font-family: 'CaslonAntique';
  font-weight: 500;
  color: #000;
}

a {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

.game-box {
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: row;
}

.panel {
	width: 190px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: auto;
}

%flex-column {
  display: flex;
  flex-flow: column;
}

%flex-row {
  display: flex;
  flex-flow: row;
}

.flex-column {
  @extend %flex-column
}

.flex-row {
  @extend %flex-row
}

.space-around {
  justify-content: space-around;
}

.coin-bg {
  background-image: url('./img/icons/coin.png');
  background-size: contain;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.console {
  overflow-y: auto;
  height: 450px;
}

.center {
  align-self: center;
}

.text-center {
  text-align: center;
}

.font-medium {
  font-size: $font-medium;
}

.defeat-screen, .victory-screen {
  @extend %flex-column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  position: relative;
  align-items: left;

  & > p {
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #fff;
    opacity: 0.7;
  }

  .panel-xp, .gold-icon {
    width: 70px;
    height: 70px;
    background-size: contain;
    margin: 5px 10px;
  }

  .gold-icon {
    background-image: url(./img/icons/coin.png);
  }
}

.defeat-screen {
  background-image: url(./img/backgrounds/defeat_bg.png);
  align-items: center;
}

.victory-screen {
  background-image: url(./img/backgrounds/victory_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%result-icon {
  width: 45px;
  height: 45px;
  background-size: contain;
  margin-right: 10px;
}

.tombstone-icon {
  background-image: url(./img/icons/tombstone.png);
  @extend %result-icon;
}

.laurel-icon {
  @extend %result-icon;
  background-image: url(./img/icons/laurels.png);
}

.battle-summary {
  @extend %flex-column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0.7;
  padding: 10px;
  margin-bottom: 15px;

  p {
    font-size: $font-large;
    text-align: center;
  }
  
  & > p {
    margin-bottom: 10px;
  }
}

.player-log {
  color: #13a610;
}

.opponent-log {
  color: #b0270b;
}

.console p {
  padding: 2px 5px;
}

.log-icon {
  background-image: url(./img/icons/scroll-unfurled.png);
  margin-right: 10px;
  @extend %result-icon;
}

.battle-log-header {
  justify-content: center;
  margin-bottom: 5px;
}

