/* importing variables */
@import './scss/variables';

/* importing page elements */

@import './scss/main_container';
@import './scss/navbar';
@import './scss/footer';
@import './scss/shop';
@import './scss/buy_panel';
@import './scss/shop_icons_bg';
@import './scss/blacksmith_icons_bg';
@import './scss/opponents';

@font-face {
  font-family: 'CaslonAntique';
  src: url('./fonts/CaslonAntique.ttf');
}

* {
  font-family: 'CaslonAntique';
  font-weight: 500;
  color: #000;
}

a {
  text-decoration: none;
}

.game-box {
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: row;
}

.panel {
	width: 190px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: scroll;
}

.location-box {
	width: 500px;
	height: 500px;
}

.dialog-box {
	width: 100%;
	height: 100px;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

.coin-bg {
  background-image: url('./img/icons/coin.png');
  background-size: contain;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}