.id_25 {
	background-image: url('./img/icons/swords/25_dagger.png')
};

.id_26 {
	background-image: url('./img/icons/swords/26_quality_dagger.png')
};

.id_27 {
	background-image: url('./img/icons/swords/27_rusty_shortsword.png')
};

.id_28 {
	background-image: url('./img/icons/swords/28_broadsword.png')
};

.id_29 {
	background-image: url('./img/icons/swords/29_quality_sword.png')
};

.id_30 {
	background-image: url('./img/icons/swords/30_widowmaker.png')
};

.id_31 {
	background-image: url('./img/icons/swords/31_relic_blade.png')
};

.id_32 {
	background-image: url('./img/icons/swords/32_peruns_anger.png')
};

.id_33 {
	background-image: url('./img/icons/axes/33_battered_axe.png')
};

.id_34 {
	background-image: url('./img/icons/axes/34_quality_axe.png')
};

.id_35 {
	background-image: url('./img/icons/axes/35_double_axe.png')
};

.id_36 {
	background-image: url('./img/icons/axes/36_veles_damnation.png')
};

.id_37 {
	background-image: url('./img/icons/armor/37_leather_vest.png')
};

.id_38 {
	background-image: url('./img/icons/armor/38_chainmail.png')
};

.id_39 {
	background-image: url('./img/icons/armor/39_lamellar_armor.png')
};

.id_40 {
	background-image: url('./img/icons/armor/40_breastplate.png')
};

.id_41 {
	background-image: url('./img/icons/helmets/41_leather_hood.png')
};

.id_42 {
	background-image: url('./img/icons/helmets/42_viking_helmet.png')
};

.id_43 {
	background-image: url('./img/icons/helmets/43_quality_helmet.png')
};

.id_44 {
	background-image: url('./img/icons/helmets/44_closed_helmet.png')
};

.id_45 {
	background-image: url('./img/icons/gloves/45_leather_gloves.png')
};

.id_46 {
	background-image: url('./img/icons/gloves/46_mailed_gloves.png')
};

.id_47 {
	background-image: url('./img/icons/gloves/47_gauntlets.png')
};

.id_48 {
	background-image: url('./img/icons/boots/48_leather_boots.png')
};

.id_49 {
	background-image: url('./img/icons/boots/49_steeltoe_boots.png')
};

.id_50 {
	background-image: url('./img/icons/boots/50_plated_boots.png')
};

.id_51 {
	background-image: url('./img/icons/shields/51_small_round_shield.png')
};

.id_52 {
	background-image: url('./img/icons/shields/52_viking_shield.png')
};

.id_53 {
	background-image: url('./img/icons/shields/53_large_steel_shield.png')
};