.id_54 {
	background-image: url('./img/icons/inn/54_coffee_cup.png')
};

.id_55 {
	background-image: url('./img/icons/inn/55_beer_mug.png')
};

.id_56 {
	background-image: url('./img/icons/inn/56_beer_barrel.png')
};

.id_57 {
	background-image: url('./img/icons/inn/57_spirits_shot.png')
};

.id_58 {
	background-image: url('./img/icons/inn/58_spirits_bottle.png')
};

.id_59 {
	background-image: url('./img/icons/inn/59_wine_jug.png')
};

.id_60 {
	background-image: url('./img/icons/inn/60_wine_amphora.png')
};

.id_61 {
	background-image: url('./img/icons/inn/61_sofa.png')
};

.id_62 {
	background-image: url('./img/icons/inn/62_bed.png')
};
