.equip-panel {
	background-image: url('./img/backgrounds/hero_bg.png');
	background-position: -50px;
	width: 360px;
	position: relative;
}

.equipped-item {
	width: 45px;
	height: 45px;
	background-color: #fff;
	position: absolute;
	border: 1px grey solid;
	background-size: contain;

	&.empty-slot {
		opacity: 0.4;
	}

	&.used-slot {
		opacity: 0.8;
	}
}

.potion-bag {
	position: absolute;
	width: 95px;
	height: 350px;
	border: 1px black solid;
	top: 130px;
	left: 260px;

	.bag-img {
		background-size: 45px 45px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #000;
		width: 93px;
	}

	.scroll-container {
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		height: 300px;
		margin-top: 3px;
	}

	.potion-container {
		margin-bottom: 5px;
		border: 1px solid black;
	}

	.potion {
		width: 45px;
		height: 45px;
	}

	.use-btn {
		height: 100%;
		font-weight: 700;
		font-size: 14px;
		border: none;

		&.enabled {
			background-color: #afd9ae;
		}
		&.disabled {
			background-color: #db3039;
		}
	}
}

.bag-img {
	background-image: url('./img/icons/potion-bag.png');
	background-size: contain;
	height: 45px;
	width: 45px;
}


.potion  {

	background-size: contain;	
}

.potion-bar {
	margin: 10px 0;
	align-items: center;
	.potion-container {
		margin-right: 3px;
	}
	.potion {
		width: 42px;
		height: 42px;
	}
	.bag-img {
		margin-right: 10px;
	}
	.use-btn {
		padding: 0;
	}

}

.equip-icon {
	
	background-image: url('./img/icons/switch_weapon.png');
	background-size: contain;
}

.weapons {
	top: 40px;
	left: 30px;
}

.helmets {
	top: 50px;
	left: 105px;
}

.necklaces {
	top: 100px;
	left: 105px;
}

.armors {
	top: 190px;
	left: 105px;
}

.boots {
	top: 420px;
	left: 105px;
}

.gloves {
	top: 180px;
	left: 30px;
}

.rings {
	top: 230px;
	left: 160px;
}

.shields {
	top: 180px;
	left: 200px;
}
