.equip-panel {
	background-image: url('./img/backgrounds/hero_bg.png');
	width: 360px;
}

.equipped-item {
	width: 35px;
	height: 35px;
	background-color: #fff;
	opacity: 0.7;
}

.weapons {

}

.helmets {

}

.necklaces {

}

.armors {

}

.boots {

}

.gloves {

}

.rings {

}

.shields {

}

.potions {

}

.oils {
	
}