.main-container {
	border: 2px solid black;
	width: 900px;
	height: 700px;
	margin: auto;
	margin-top: 200px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
};

