
// Arena - List

.opponents-container {
	height: 100%;
	width: 75%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.opponent-slot {
	height: 240px;
	display: flex;
	flex-flow: row;

	border: 1px solid black;
	margin-bottom: 10px;
	position: relative;
}

.opponent-image {
	height: 100%;
	min-width: 400px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	position: absolute;
	right: 0;

	&.bies, &.wodnik, &.striga, &.nocnica {
		min-width: 238px;
		background-size: cover;
	}
}

.opponent-info {
	width: 330px;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0.8;
	background-color: #fff;
}

.opponent-name {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 18px;
}

.info-header {
	justify-content: space-around;
	margin: 8px 0;
	align-items: center;
}

.info-column {
	margin-left: 5px;
	align-items: space-around;
}

.fight-button {
	align-items: center;
	div {
		height: 30px;
		width: 30px;
		align-content: center;
		background-image: url(./img/icons/attributes/crossed-swords.png);
		background-size: contain;
		margin-right: 5px;
	}
}

// Arena - Battle

.vertical-layout {
	@extend %flex-row;
	width: 600px;

	.console {
		

		width: 50%;
		height: 100%;
	}

	.opponent-battle-screen {
		width: 50%;
		height: 100%;

		
		.opponent-battle-image {
			width: 100%;
			height: 60%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.panel-bar {
			margin: 0 auto;
			width: 200px;
		}
	}
}

.effect-box {
	padding: 10px;
}

.battle-effect {
	background-size: contain;
	width: 40px;
	height: 40px;
	margin-right: 15px;
}

.effect-Poison {
	background-image: url(./img/icons/skull-crossed-bones.png);
}

.effect-Ice {
	background-image: url(./img/icons/frozen-orb.png);
}

.effect-Fire {
	background-image: url(./img/icons/burning-skull.png);
}




// Arena - Backgrounds

.rusalka {
	background-image: url(./img/opponents/rusalka.jpg);
}

.wodnik {
	background-image: url(./img/opponents/wodnik.jpg);
}

.mamuna {
	background-image: url(./img/opponents/mamuna.jpg);
}

.nocnica {
	background-image: url(./img/opponents/nocnica.jpg);
}

.poludnica {
	background-image: url(./img/opponents/poludnica.jpg);
}

.lesnik {
	background-image: url(./img/opponents/lesnik.jpg);
}

.bies {
	background-image: url(./img/opponents/bies.png);
}

.striga {
	background-image: url(./img/opponents/striga.jpg);
}

.vilkolak {
	background-image: url(./img/opponents/vilkolak.png);
	right: -50px;
}

.zmij {
	background-image: url(./img/opponents/zmij.jpg);
	right: -20px;
}

