.id_1 {
	background-image: url('./img/icons/potions/1_small_health_potion.png')
};

.id_2 {
	background-image: url('./img/icons/potions/2_medium_health_potion.png')
};

.id_3 {
	background-image: url('./img/icons/potions/3_large_health_potion.png')
};

.id_4 {
	background-image: url('./img/icons/potions/4_alchemists_fire.png')
};

.id_5 {
	background-image: url('./img/icons/potions/5_freeze_blast.png')
};

