.id_1 {
	background-image: url('./img/icons/potions/1_small_health_potion.png')
};

.id_2 {
	background-image: url('./img/icons/potions/2_medium_health_potion.png')
};

.id_3 {
	background-image: url('./img/icons/potions/3_large_health_potion.png')
};

.id_4 {
	background-image: url('./img/icons/potions/4_alchemists_fire.png')
};

.id_5 {
	background-image: url('./img/icons/potions/5_freeze_blast.png')
};

.id_6 {
	background-image: url('./img/icons/potions/6_strength_potion.png')
};

.id_7 {
	background-image: url('./img/icons/potions/7_defense_potion.png')
};

.id_8 {
	background-image: url('./img/icons/potions/8_agility_potion.png')
};

.id_9 {
	background-image: url('./img/icons/potions/9_vitality_potion.png')
};

.id_10 {
	background-image: url('./img/icons/oils/10_peruns_might.png')
};

.id_11 {
	background-image: url('./img/icons/oils/11_holy_water.png')
};

.id_12 {
	background-image: url('./img/icons/oils/12_poison.png')
};

.id_13 {
	background-image: url('./img/icons/necklaces/13_accuracy_necklace.png')
};

.id_14 {
	background-image: url('./img/icons/necklaces/14_strength_necklace.png')
};

.id_15 {
	background-image: url('./img/icons/necklaces/15_defense_necklace.png')
};

.id_16 {
	background-image: url('./img/icons/necklaces/16_agility_necklace.png')
};

.id_17 {
	background-image: url('./img/icons/necklaces/17_vitality_necklace.png')
};

.id_18 {
	background-image: url('./img/icons/necklaces/18_champions_necklace.png')
};

.id_19 {
	background-image: url('./img/icons/rings/19_dodge_ring.png')
};

.id_20 {
	background-image: url('./img/icons/rings/20_lesser_destruction_ring.png')
};

.id_21 {
	background-image: url('./img/icons/rings/21_greater_destruction_ring.png')
};

.id_22 {
	background-image: url('./img/icons/rings/22_protection_ring.png')
};

.id_23 {
	background-image: url('./img/icons/rings/23_lesser_life_drain_ring.png')
};

.id_24 {
	background-image: url('./img/icons/rings/24_greater_life_drain_ring.png')
};