.shop {
	background-image: url(./img/backgrounds/shop_bg.png);
	background-size: 100% 100%;

}

.blacksmith {
	background-image: url(./img/backgrounds/blacksmith_bg.png);
	background-size: cover;
}

.inn {
	background-image: url(./img/backgrounds/inn_bg.jpg);
	background-size: 100% 100%;	
}

.inn-box {
	width: 400px;
	margin-right: 15px;
}

.shop, .blacksmith, .inn {
	background-repeat: no-repeat;
	background-position: center;	
	width: 100%;
	height: 400px;
}

.dialog-box {
	width: 100%;
	height: 100px;

	.item-description {
		p {
			display: inline-block;
			margin-right: 20px;
		}
	}
}

