@mixin messagePadding {
	.dialog-message {
		padding: 10px;
	}
	.item-description {
		padding: 0 10px 10px 10px;
	}	
}

.shop {
	background-image: url(./img/backgrounds/shop_bg.png);
	background-size: 100% 100%;
}

.blacksmith {
	background-image: url(./img/backgrounds/blacksmith_bg.png);
	background-size: cover;
}

.inn {
	background-image: url(./img/backgrounds/inn_bg.jpg);
	background-size: 100% 100%;
	p {
		background-color: #fff;
		opacity: 0.6;
		display: inline-block;
		padding: 0 10px;
	}
}

.inn-box {
	width: 400px;
	margin-right: 15px;
	@include messagePadding
}

.shop, .blacksmith, .inn {
	background-repeat: no-repeat;
	background-position: center;	
	width: 100%;
	height: 400px;
}

.dialog-box {
	width: 100%;
	height: 100px;

	.item-description {
		p {
			display: inline-block;
			margin-right: 20px;
		}
		.item-name {
			font-weight: 700;
			font-size: 17px;
		}
	}
}

.location-box {
	width: 500px;
	height: 500px;
	@include messagePadding
}

